/* Add CSS styles here! */
body {
  font-family: sans-serif;
}

#dbText {
  white-space: pre;
}

#chartContainer {
  height: 50vh;
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.animated-number {
  transition: --num 0.5s;
  counter-set: num var(--num);
}

.animated-number::after {
  content: counter(num);
}
