/* Add CSS styles here! */
body {
  font-family: sans-serif;
}

#dbText {
  white-space: pre;
}

/* 
#chartContainer {
  width: 75%;
  display: block;
  overflow: auto;
  margin-right: auto;
  margin-left: auto;
} */
